{erl_opts, [debug_info]}.

{plugins, [
    rebar3_hex
]}.

{deps, [  
    {jsone, "~>1.5"},
    {hackney, "1.15.1"},
    {uuid, "1.7.5", {pkg, uuid_erl}}
]}.

% {alias, [
%     {'hex docs', [xref, dialyzer, edoc,
%              {proper, "--regressions"},
%              {proper, "-c"}, {ct, "-c"}, {cover, "-v --min_coverage=80"}]}
% ]}.

% Export all functions for unit testing
{eunit_compile_opts, [export_all]}.


% Documentation
{edoc_opts, [
  {title, "CouchDB"},
  {doclet, edoc_modern},
  {layout, edoc_modern_layout}
]}.

{profiles, [
  {docs, [      
    % Export all functions for unit testing
    {src_dirs, ["src", "doc"]}
  ]}
  % ,{test, [      
  %   % Export all functions for unit testing
  %   % {extra_src_dirs, ["test"]}
  % ]}
]}.


{relx, [
    {release, {couchdb, "2.0.0"}, [couchdb]},    
    {overlay, []},
    {extended_start_script, true}
]}.


