{erl_opts, [debug_info]}.

{plugins, [
    rebar3_hex
]}.

{deps, [  
    {jsone, "~>1.5"},
    {hackney, "~>1.9"},
    {uuid, "1.7.5", {pkg, uuid_erl}}
]}.

% Export all functions for unit testing
{eunit_compile_opts, [export_all]}.

{relx, [
    {release, {couchdb, "2.0.0"}, [couchdb]},
    
    {overlay, []},
    {extended_start_script, true}
]}.


% {profiles, [
%   {test, [      
%     % Export all functions for unit testing
%     {eunit_compile_opts, [
%         export_all,
%         {src_dirs, ["src", "test"]} % Make Enit and Rebar3_autotdd execute tests only once
%     ]}
%   ]}
% ]}.